<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div th:replace="~{header/header :: header}"></div>
<p>home</p>
<div>
    <a th:if="${username}" th:href="@{/myPage/{username}(username=${username})}">
        myPage
    </a>
</div>
<a th:if="!${username}" th:href="@{/user/loginForm}">Login</a>
<a th:if="!${username}" th:href="@{/user/signupForm}">SignUp</a>
<a th:if="${username}" th:href="@{/logout}">Logout</a>
</body>
</html>