<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Personal Blog</title>
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
<div th:replace="~{header/header :: header}"></div>
<div class="profile-pic">
    <div class="profile-picture">
        <img th:if="${user !=null and user.profileImage != null}" th:src="@{|${user.profileImage}|}" alt="Loading image" class="profile-picture">
        <img th:if="${user !=null && user.profileImage == null}" src="/image/profile.jpg" alt="No image" class="profile-picture">
    </div>
</div>
<div>
    <a th:href="@{/post/{id}(id=${user.id})}">작성한 글</a>
    <a th:href="@{/post/draft/{id}(id=${user.id})}">임시 글</a>
</div>
</body>
</html>